/* Your app styles here */

:root {
    /* Customize color theme */
    --f7-theme-color: #35a446;
    --f7-theme-color-shade: #2e8d3c /* 14% vs. 8% #319740 */;
    --f7-theme-color-tint: #3cbb50 /* 14% vs. 8% #39b14c */;
    --f7-theme-color-rgb: 53, 164, 70;
    --f7-text-color: #35a446;
    --f7-navbar-text-color: #fff;
    --f7-bars-text-color: #fff;
}

.navbar {
    background-color: var(--f7-theme-color);
}

.navbar .navbar-inner .left a,
.navbar .navbar-inner .right a {
    color: #fff;
}

.navbar .navbar-inner .title {
    color: #fff;
}

input,
textarea {
    color: var(--f7-theme-color) !important;
    font-weight: bold !important;
}

.md .navbar-inner {
    padding: 0 8px;
}

.list.media-list .item-inner {
    letter-spacing: 1px;
}

.list .item-title {
    font-weight: bold;
    overflow: scroll;
    text-overflow: initial;
}

.list .item-subtitle {
    padding-left: 10px;
    color: #ddd;
}

.panel-backdrop {
    background-color: rgba(0, 0, 0, .2);
}

.accordion-item {
    background-color: #fafafa;
}

.accordion-item-content {
    background-color: #f0f0f0;
}

.accordion-item-content li {
    background-color: #f0f0f0;
}

/* opening animation */
.opening-animation {
    width: 100%;
    position: absolute;
    padding: 1em;
    box-sizing: border-box;
    color: #6e6a2c;
    font-size: 2em;
    font-weight: bold;
}

.opening-animation p,
.opening-animation span,
.opening-animation img,
.opening-animation a {
    opacity: 0;
    transition: 1s;
}

.opening-animation p {
    margin: 0;
}

.opening-animation .opening-logo-scene {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.opacity-1 {
    opacity: 1 !important;
}

.color-gc { color: var(--f7-theme-color) !important; }

.flex-wrap-nowrap {
    flex-wrap: nowrap;
}

.gc-status-rent {
    display: inline-block;
    border: .4em solid #f00;
    border-radius: 50%;
}

.gc-status-return {
    display: inline-block;
    border: .4em solid #35a446;
    border-radius: 50%;
}

.mr-em-2 {
    margin-right: 2em;
}

.emphasize {
    padding: 0 4px;
    background-color: #35a446;
    border-radius: 4px;
    color: #fff;
}

.icon-btn {
    padding: 16px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50%;
}

img.demo-lazy {
    display: block;
    width: 100%;
    height: auto;
}